.header__menu{
    padding-top: 25px;
    width: 100%;
    height: 5rem;
    line-height: 60px;
    border-bottom: solid rgba(169, 163, 163, 0.948);
    
}
.menu__container{
    padding-left: 80px;
}

.ul__header__menu li{
    display: inline;
    padding-left: 30px;
    cursor: pointer;

}
.ul__header__menu li:hover{
    color: red;
}
.ul__menu__phone li{
    display: inline;
    cursor: pointer;
    border: 1px solid rgb(150, 146, 146);
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}
.ul__menu__phone li:hover{
    background-color: rgb(210, 11, 11);
    color: white;
}


@media only screen and (max-width: 768px) {
    .header__menu{
        margin-top: 40px;
        margin-left: 0px;
        font-size: 12px;
        /* object-fit: cover; */
        /* padding-right: -10px; */
    }
    .ul__header__menu li:hover{
        color: red;
    }
    .menu__phone{
        display: none;
    }

}
