/* .ant-modal-content {
    width: 500px;
    height: 500px;
}
.ant-modal-close{
    display: none;

}
.ant-modal-header{
    text-align: center;
    
    
}
.ant-modal-close-x {
  display: none;
}

.ant-modal-footer {
  display: none;
} */