.product__img_phone{
    width: 140px;
    height: 160px;  
}
.product__img_phone img{
    padding-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product__container__phone{
    background-color: #fff;
    margin: 3px;
    border-radius: 10px;
    height: 15rem;
    width: 174px;
     /* overflow: hidden; */
}
.product__item__phone {
    /* cursor: pointer; */
    /* padding: 10px; */
}
.product__info__phone span{
    background-color: antiquewhite;
    border-radius: 3px;

}

.product__info__phone h5{
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 1px;
}

.product__info__phone a:hover{
    color: #bd0a0a;
    background-color: white;
}

.product__info__phone span {
    font-size: 10px;
}

.product__phone__card-bottom .price {
    color: #bd0a0a;
    font-size: 10px;
    font-weight: 700;
}

.product__phone__card-bottom span i {
    font-size: 10px;
    padding: 5px;
    background: var(--primary-color);
    color: #d6bbbb;
    border-radius: 50px;
}

 @media only screen and (max-width: 992px){
    .product__info__phone h3 a {
        font-size: 1.1rem;
    }
 }
  @media only screen and (max-width: 768px){
    .product__info__phone h3 a {
        font-size: 1rem;
    }
    .product__card-bottom span i {
        font-size: 1rem;
    }
    .product__container__phone{
        height: 260px;
    }
  }