.product__container_sale{
    background-color: #fff;
    margin: 3px;
    width: 230px;
    height: 320px;
    border-radius: 10px;
}
.product__item__sale{
    padding: 10px;
    cursor: pointer;
}
.product__img_sale{
    width: 200px;
    height: 210px;

}
.product__img_sale img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product__info__sale{
    padding-top: 20px;
}

.product__info__sale span{
    border-radius: 3px;
}
.product__info__sale h5{
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 1px;
}
.product__info__sale a:hover{
    color: #bd0a0a;
    background-color: white;
}
.product__info__sale span {
    font-size: 10px;
}
.product__sale__card-bottom .price {
    color: #bd0a0a;
    font-size: 10px;
    font-weight: 700;
}
@media only screen and (max-width: 992px){
    .product__container_sale{
    }
 }
  @media only screen and (max-width: 768px){
    .product__info__sale h3 a {
        font-size: 1rem;
    }
    .product__card-bottom span i {
        font-size: 1rem;
    }
    .product__info__sale{
        font-size: 2px;
    }
    .product__info__sale h5{
        
        font-size: 12px;
        max-width: 60px;
        max-height: 70px;
    }
    .product__container_sale{
        height: 320px;

    }
    .product__img_sale{
        height: 170px;
    }
  } 


/* .product__img_sale{
    width: 100px;
    height: 100px;
}
.product__img_sale img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__container_sale{
    
}
.product__item__sale {
    cursor: pointer;
    padding: 10px;
}
.product__info__sale span{
    
    border-radius: 3px;

}

.product__info__sale h5{
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 1px;
}

.product__info__sale a:hover{
    color: #bd0a0a;
    background-color: white;
}

.product__info__sale span {
    font-size: 10px;
}

.product__sale__card-bottom .price {
    color: #bd0a0a;
    font-size: 10px;
    font-weight: 700;
}

.product__sale__card-bottom span i {
    font-size: 10px;
    padding: 5px;
    background: var(--primary-color);
    color: #d6bbbb;
    border-radius: 50px;
}

 @media only screen and (max-width: 992px){
    .product__container_sale{
    }
 }
  @media only screen and (max-width: 768px){
    .product__info__sale h3 a {
        font-size: 1rem;
    }
    .product__card-bottom span i {
        font-size: 1rem;
    }
    .product__info__sale{
        font-size: 10px;
    }
    .product__info__sale h5{
        
        font-size: 12px;
        max-width: 60px;
        max-height: 70px;
    }
    .product__info__sale span{
    }
    .product__sale__card-bottom span{
    }
  } */