.cart__main{
    background-color: rgba(245, 231, 231, 0.5);
}
.cart__body{
    margin-left: 9rem;
    margin-right: 6rem;
}
.table tr td img {
    width: 80px;
    height: 80px;
    object-fit: cover ;
}

td, i{
    cursor: pointer;
}

td{
    color: var(--primary-color);
}
.cart__button button{
    background-color: rgb(245, 242, 238);
    color: black;
    font-weight: 600;
    border: solid 1px black;
}
.cart__button button:hover{
    background-color: rgb(184, 21, 21);
    color: white;
}

