.body__checkout{
    display: flex;
}

.check__cart {
    padding: 20px;
    background: rgb(110, 7, 7);
    color: #fff9f9;
    border-radius: 5px;
    margin: 0  200px ;
}

    
.check__cart h6,h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check__cart h6 {
    margin-bottom: 40px;
}

.check__cart h4 {
    border-top: 1px solid rgba(221, 221, 221, 0.253);
    padding-top: 20px;
}
.button__cart{
    margin: auto;
    width: 50%;
    text-align: center;
}

.button__cart button {
    background-color: rgb(245, 242, 238);
    color: black;
    font-weight: 600;
    border-radius: 10px;
    width: 100px;
}
.button__left :hover{
    background-color: rgb(12, 74, 207);
    color: white;
    
}
.button__right :hover{
    background-color: rgb(207, 12, 12);
    color: white;
    
}
