.body__checkout{
    margin: auto;
    width: 30%;
    flex: 1;
}

.billing__form{
    margin-top: 20px;

}
.text__information{
    padding-bottom: 20px;
}
.text__information h4{
    font-weight: 700;
}
.billing__form button{
    border-radius: 10px;
    font-size: 15px;
    width: 100%;
    
}
.form__button{
    width: 50%;
    margin: auto;
}
.form__button button:hover{
    background-color:rgb(9, 9, 108);
    color: white;
    border: solid 0.5px rgb(9, 9, 108);
}

