.main__login__signup{
    padding-top: 50px;
    margin: auto;
    width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.form__group{
    width: 150%;
}
.header__login__signup{
    /* background-color: #ffeded; */
    margin-left: 12rem;
    margin-right: 12rem;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
}
.header__login__signup h3{
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 25px;
}
.auth__form {
    background-color: #c5c4c4b2;
    padding: 40px;
    border-radius: 5px;
}

.auth__btn {
    background: #ffffff !important;
    color: rgb(79, 8, 8);
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
}
.auth__btn:hover{
    background: #af0303 !important;
    color: rgb(255, 251, 251);
    font-weight: 700;
}

.auth__btn p{
    margin-top: 30px;
}

.auth__btn p{
    color: rgb(27, 20, 20);
}

.auth__form input[type='file'] {
    color: #1d1515;
    cursor: pointer;
}
.auth__form p{
    color: black;
}
.auth__form a:hover{
    color: #af0303;
}