
.product__item {
    cursor: pointer;
    margin: 10px;
}
.product__img{
width: 250px;
height: 250px;
}
.product__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product__item img{
    border-radius: 15px;
}

.product__info h3 {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
}

.product__name a:hover{
    color: #a64747;
}

.product__info span {
    font-size: 0.9rem;
}

.product__card-bottom {
    color: black;
    font-size: 1.3rem;
    font-weight: 500
}
.price{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.product__card-bottom span i {
    font-size: 1.2rem;
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
}

 @media only screen and (max-width: 992px){
    .product__info h3 a {
        font-size: 1.1rem;
    }
 }
  @media only screen and (max-width: 1024px){
    .product__img{
        width: 200px;
        height: 150px;
    }
    .product__info h3 a{
        font-size: 15px;
    }
    .product__card-bottom span{
        font-size: 15px;
        font-weight: 500;
    }
    .product__card-bottom span i{
        font-size: 12px;
    }
 }
  @media only screen and (max-width: 768px){
    .product__img{
        width: 150px;
        height: 150px;
    }
    
    .product__info h3 a{
        font-size: 10px;
    }
    .product__card-bottom span{
        font-size: 12px;
    }
    .product__card-bottom span i{
        font-size: 12px;
    }
  }