.main__shop{
    margin-top: 30px;
    /* background-color: rgba(245, 231, 231, 0.5); */
    
}
.body__shop{
    padding: 5rem;
    display: flex;
    
}

.filter__widget select{
    padding: 10px 20px;
    border: 1px solid rgba(156, 156, 35, 0.875);
    cursor: pointer;
    border-radius: 5px ;
    background: rgb(185, 7, 7);
    color: #fff;
}

.filter__widget select:focus {
    outline: none !important;
}

.filter__widget select option {
    font-size: 0.9rem;
    color: white;
}

.search__box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.search__box input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
}

.search__box span {
    color: white;
}

@media only  screen and (max-width: 768px) {
   .filter__widget {
    margin-bottom: 30px;
   }

   .filter__widget select{
    padding: 7px 20px;
    font-size: 0.9rem;
   }
}
@media only  screen and (max-width: 1024px) {
   .filter__widget {
    margin-bottom: 30px;
   }

   .filter__widget select{
    padding: 7px 20px;
    font-size: 0.9rem;
   }
}