.product__img_tablet{
    height: 150px;
    width: 130px;
}
.product__img_tablet img{
    padding-top: 10px;
    
}
.product__container__tablet{
    background-color: #fff;
    height: 15rem;
    width: 174px;
}
.product__item__tablet {
    cursor: pointer;
    padding: 10px;
}
.product__info__tablet span{
    background-color: antiquewhite;
    border-radius: 3px;

}

.product__info__tablet h5{
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 1px;
}

.product__info__tablet a:hover{
    color: #bd0a0a;
    background-color: white;
}

.product__info__tablet span {
    font-size: 10px;
}

.product__tablet__card-bottom .price {
    color: #bd0a0a;
    font-size: 10px;
    font-weight: 700;
}

.product__tablet__card-bottom span i {
    font-size: 10px;
    padding: 5px;
    background: var(--primary-color);
    color: #d6bbbb;
    border-radius: 50px;
}

 @media only screen and (max-width: 992px){
    .product__info__tablet h3 a {
        font-size: 1.1rem;
    }
 }
  @media only screen and (max-width: 768px){
    .product__info__tablet h3 a {
        font-size: 1rem;
    }
    .product__card-bottom span i {
        font-size: 1rem;
    }
  }