.footer__sale{
    background-color: rgba(245, 231, 231, 0.5);
}
.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #ffffff;
    padding-left: 1rem;
    margin-left: 9rem;
    margin-right: 6.5rem;

}

.footer__text {
    line-height: 30px;
    color: black;
}

.footer__quick-links ul li {
    background: transparent !important;
}

.footer__quick-links ul li a {
        color: rgb(109, 103, 103);

}

.quick__links-title{
    margin-bottom: 30px;
    color: black;
    font-weight: 700;
    font-size: 1rem;
}

.footer__contact li span,
.footer__contact li p {
    color: rgba(75, 27, 27, 0.735);
}

.footer__contact li span {
    font-size: 1.2rem;
}

.footer__contact li p {
    font-size: 0.9rem;
}

.footer__copyright{
    color: rgba(170, 4, 4, 0.735);
    font-size: 0.9rem;
    margin-top: 50px;
}