.main_sound{
    width: 100%;
    height: 2.9rem;
    line-height: 50px;
    display: flex;
}

.left__sound{
    padding-left: 1rem;
    font-weight: 700;
    font-size: 19px;
    color: white;
}
.right__sound{
    padding-left: 30rem;
    display: flex;
}
.ul__menu__sound li{
    display: inline;
    cursor: pointer;
    border: 1px solid rgb(150, 146, 146);
    padding: 4px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 13px;
    padding-left: 10px;
    background-color: white;
}
.ul__menu__sound li:hover{
    background-color: rgb(181, 12, 12);
    color: white;
    font-size: 14px;
    border: 1px solid rgb(181, 12, 12);
}
.li__menu__sound{
    font-weight: 500;
    font-size: 10px;
}
.add__sound{
    padding-left: 4px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    padding-top: 8px;
}
.add__sound:hover{
    color: rgb(214, 137, 13);
}

@media only screen and (max-width: 768px) {
    .left__sound{
        font-size: 15px;
    }
    .right__sound{
        display: none;
    }
}
